/* 头部导航 */
.header {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 30;
}

.header__logo {
  float: left;
  width: 110px;
  height: 40px;
  padding: 10px 0 10px 50px;
  margin-left: 10px;
  line-height: 40px;
  font-size: 18px;
  background: url("../img/logo.png") no-repeat left center;
  cursor: pointer;
  transition: all .3s;
}

.header__logo:hover {
  color: #f01400;
}

.header__nav {
  width: 480px;
  margin-right: 20px;
  float: right;
  position: relative;
}

.header__nav-item {
  float: left;
  display: block;
  font-size: 12px;
  line-height: 60px;
  color: #fff;
  padding-right: 30px;
  transition: all .3s;
}

.header__nav_custom_button {
  float: left;
  display: block;
  width: 88px;
  height: 38px;
  margin: 10px 0;
  line-height: 38px;
  border: 1px solid #f01400;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  background-color: #f01400;
  transition: all .5s;
}

.header__nav_custom_button:hover {
  color: #f01400;
  background-color: #fff;
  border: 1px solid #fff;
}

.header__nav-item_status_active {
  color: #f01400;
}

/* 导航中下划线样式 */
.header__nav-tip {
  position: absolute;
  width: 48px;
  border: 1px solid #f01400;
  left: 0;
  bottom: 0;
}

/* 第一屏样式 */
.screen-1 {
  width: 100%;
  height: 640px;
  background: url("../img/sc1.jpg") no-repeat center;
  background-size: cover;
  z-index: -1;
}

.screen-1__wrap {
  width: 1200px;
  margin: 0 auto;
  color: #fff;
}

.screen-1__heading {
  font-size: 40px;
  padding-top: 238px;
  line-height: 40px;
  text-align: center;
}

.screen-1__desc {
  font-size: 14px;
  padding-top: 28px;
  line-height: 14px;
  text-align: center;
}

/* 第二屏 */
.screen-2 {
  width: 100%;
  background-color: #f3f5f7;
}

.screen-2__wrap {
  width: 1200px;
  height: 640px;
  margin: 0 auto;
  position: relative;
}

.screen-2__heading {
  color: #07111b;
  font-size: 40px;
  line-height: 40px;
  padding-top: 86px;
  text-align: center;
}

.screen-2__wrap hr {
  width: 40px;
  border: 1px solid #f01400;
  margin: 35px 0 25px 580px;
}

.screen-2__desc {
  color: #07111b;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.screen-2__bg_1 {
  width: 275px;
  height: 380px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -137.5px;
  background: url("../img/sc2-1.png") no-repeat center bottom;
  background-size: cover;
  z-index: 4;
}

.screen-2__bg_2 {
  width: 266px;
  height: 205px;
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -32px;
  background: url("../img/sc2-2.png") no-repeat center bottom;
  background-size: cover;
  z-index: 3;
}

.screen-2__bg_3 {
  width: 750px;
  height: 361px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -375px;
  background: url("../img/sc2.png") no-repeat center bottom;
  background-size: cover;
  z-index: 2;
}

/* 第三屏 */
.screen-3 {
  width: 100%;
  background-color: #2b333b;
}

.screen-3__wrap {
  width: 1200px;
  height: 640px;
  margin: 0 auto;
  position: relative;
}

.screen-3__langs,
.screen-3__desc,
.screen-3__heading {
  margin-left: 600px;
  padding-left: 55px;
}

.screen-3__heading {
  padding-top: 228px;
  color: #fff;
  font-size: 35px;
}

.screen-3__wrap hr {
  width: 50px;
  margin: 32px 0 26px 655px;
  border: 1px solid #f01400;
}

.screen-3__desc {
  color: #fff;
  font-size: 15px;
  padding: 0 0 164px 55px;
}

.screen-3__langs:after {
  content: ' ';
  display: block;
  clear: both;
}

.screen-3__langs__item {
  float: left;
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 36px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
  position: relative;
}

.screen-3__langs__item:nth-child(1):before,
.screen-3__langs__item:nth-child(1):after,
.screen-3__langs__item:nth-child(1) {
  border: 4px solid #1f5975;
  color: #02b0ff;
}

.screen-3__langs__item:nth-child(2):before,
.screen-3__langs__item:nth-child(2):after,
.screen-3__langs__item:nth-child(2) {
  border: 4px solid #424d76;
  color: #4372fd;
}

.screen-3__langs__item:nth-child(3):before,
.screen-3__langs__item:nth-child(3):after,
.screen-3__langs__item:nth-child(3) {
  border: 4px solid #6b4146;
  color: #ff584c;
}

.screen-3__langs__item:nth-child(4):before,
.screen-3__langs__item:nth-child(4):after,
.screen-3__langs__item:nth-child(4) {
  border: 4px solid #29535f;
  color: #22c7e5;
}

.screen-3__langs__item:nth-child(5):before,
.screen-3__langs__item:nth-child(5):after,
.screen-3__langs__item:nth-child(5) {
  border: 4px solid #3e4e40;
  color: #90bd56;
}

.screen-3__bg {
  width: 570px;
  height: 630px;
  background: url("../img/sc3.png") no-repeat left center;
  background-size: cover;
  position: absolute;
  top: 5px;
  left: -220px;
  z-index: 3;
}

/* 第四屏 */
.screen-4 {
  width: 100%;
  height: 640px;
  background-color: #f3f5f7;
}

/* 第五屏 */
.screen-5 {
  width: 100%;
  height: 640px;
  background-color: #ae171e;
}

/* 第六屏 */
.screen-6 {
  width: 100%;
  height: 200px;
  background-color: #fff;
}

/* 页脚 */
.footer {
  width: 100%;
  height: 106px;
  background-color: #000;
}
