/*公共样式*/

    .container {
        /*站点导航*/
        width: 1200px;
        margin: 0 auto;
    }

    a.link {
        /*链接正常颜色*/
        color: #4d555d;
    }

    a.link:hover {
        /*链接经过颜色*/
        color: #f01414 !important;
    }

    .transition {
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    .text-hidden{
        text-indent: -9999px;
        overflow: hidden;
    }


    .text-ellipsis{
        text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
    }

/*icon*/
    @font-face {
        font-family: "iconfont";
        src: url('../test/font/iconfont.eot?t=1477124206');
        /* IE9*/
        src: url('../test/font/iconfont.eot?t=1477124206#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../test/font/iconfont.woff?t=1477124206') format('woff'), /* chrome, firefox */
        url('../test/font/iconfont.ttf?t=1477124206') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
        url('../test/font/iconfont.svg?t=1477124206#iconfont') format('svg');
        /* iOS 4.1- */
    }

    .icon {
        font-family: "iconfont" !important;
        font-size: 14px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
    }

/*showhide*/

    .fadeOut {
        visibility: hidden !important;
        opacity: 0 !important;
    }
    .slideUpDownCollapse {
        height: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .slideLeftRightCollapse {
        width: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

/*dropdown*/
    .dropdown {
        position: relative;
    }

    .dropdown-toggle {
        position: relative;
        z-index: 2;
    }

    .dropdown-arrow {
        display: inline-block;
        line-height: 1;
        /*background-repeat: no-repeat;*/
        vertical-align: middle;
        
    }
    [class*="-active"] .dropdown-arrow {
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    }


    .dropdown-layer {
        display: none;
        position: absolute;
        z-index: 1;
    }

    .dropdown-left {
        left: 0;
        right: auto;
    }

    .dropdown-right {
        right: 0;
        left: auto;
    }

     .dropdown-loading{
            width:32px;
            height: 32px;
            background: url(../img/loading.gif) no-repeat;
            margin: 20px;
        }

/*.menu .dropdown*/
        .menu{
            z-index: 3;
        }

        .menu .dropdown-toggle {
            display: block;
            height: 100%;
            padding: 0 13px 0 12px;
            border-left: 1px solid #f3f5f7;
            border-right: 1px solid #f3f5f7;
        }

        .menu .dropdown-arrow {
            /*width: 8px;
            height: 6px;
            background-image: url(../img/dropdown-arrow.png);*/
            margin-left: 5px;
        }

        .menu .dropdown-layer {
            top: 43px;
            background-color: #fff;
            border: 1px solid #cdd0d4;
        }

        .menu-item {
            display: block;
            height: 30px;
            line-height: 30px;
            padding: 0 12px;
            color: #4d555d;
            white-space: nowrap;
        }

        .menu-item:hover {
            background-color: #f3f5f7;
        }

        .menu-active .dropdown-toggle {
            background-color: #fff;
            border-color: #cdd0d4;
        }

        .menu-active .dropdown-arrow {
            /*background-image: url(../img/dropdown-arrow-active.png);*/
        }

        /*.menu-active .dropdown-layer {
            display: block;
        }*/

/*btn*/
    .btn {
        display: inline-block;
        border: none;
        color: #fff;
        text-align: center;
        cursor: pointer;
    }        

/*search*/
    .search {
        position: relative;
        border: 1px solid #cfd2d5;
    }
    .search-inputbox {
        width: 585px;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        background-color: #fff;
        border: none;
    }
    .search-btn {
        width: 73px;
        height: 40px;
        line-height: 40px;
        background-color: #07111b;
        font-size: 14px;
        
    }
    .search-layer {
        display: none;
        position: absolute;
        top: 100%;
        left: -1px;
        width: 100%;
        background-color: #fff;
        border: 1px solid #cfd2d5;
    }
    .search-layer-item {
        height: 24px;
        line-height: 24px;
        padding: 0 10px;
        cursor: pointer;

    }
    .search-layer-item:hover {
        background-color: #f3f5f7;
    }

/*cart*/
    .cart {
        width: 160px;
    }
    .cart .dropdown-toggle {
        display: block;
        height: 42px;
        line-height: 42px;
        background-color: #f01414;
        color: #fff;
        font-size: 14px;
        padding:0px;
    }
    .cart-vline {
        display: inline-block;
        width: 1px;
        height: 16px;
        background-color: #fff;
    }
    .cart-logo,
    .cart-text,
    .cart-vline,
    .cart-num {
        margin-left: 14px;
        vertical-align: middle;
    }
    .cart .dropdown-arrow {
        position: absolute;
        top: 17px;
        right: 10px;
    }
    .cart .dropdown-layer {
        top: 100%;
        width: 320px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    .cart-nogoods {
        height: 120px;
    }

    .cart-nogoods-icon {
        margin: 36px 0 0 80px;
        color: #d9dde1;
        font-size: 40px;
    }
    .cart-nogoods-text {
        margin: 37px 0 0 15px;
        color: #93999f;
        line-height: 20px;
    }
    .cart-title {
        height: 52px;
        line-height: 52px;
        color: #07111b;
        font-size: 14px;
        text-indent: 24px;
    }
    .cart-list {
        overflow: auto;
        max-height: 326px;
        padding: 0 12px;
    }
    .cart-item {
        height: 64px;
        border-top: 1px solid #d9dde1;
    }
    .cart-item:hover {
        background-color: #f3f5f7;
    }
    .cart-item-pic {
        margin: 8px 0 0 12px;
    }
    .cart-item-name {
        width: 172px;
        margin: 16px 0 0 12px;
    }
    .cart-item-price {
        margin: 10px 0 0 12px;
        color: #4d555d;
    }

    .cart-item-delete {
        margin: 17px 13px 0 0;
    }
    .cart-info {
        height: 68px;
        line-height: 68px;
        padding: 0 28px 0 24px;
        color: #07111b;
    }
    .cart-info-btn {
        width: 80px;
        height: 36px;
        line-height: 36px;
        background-color: #f01414;
        border-radius: 2px;
        margin-top: 16px;
        color: #fff;
        font-weight: bold;
        
    }
    .cart-info-btn:hover {
        background-color: red;
    }
    .cart-active .dropdown-toggle {
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        color: #f01414;
    }
    .cart-active .cart-vline {
        background-color: #f01414;
    }
    .cart-active .cart-spacer {
        display: block;
    }
    .cart-spacer {
        display: none;
        position: absolute;
        left: 0;
        bottom: -5px;
        z-index: 3;
        width: 100%;
        height: 5px;
        background-color: #fff;
    }

    .cart .dropdown-loading {
        margin: 20px auto;
    }