<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TodoList</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- 在此补充代码 -->
        <input type="text" v-model="inputValue">
        <input type="button" value="添加" v-on:click="handleSubmit">
        <ul v-for="item in list">
            <li>{{item}}</li>
        </ul>
    </div>
    <script>
    // 在此补充代码
        var app = new Vue({
            el: '#app',
            data: {
                inputValue: '',
                list: ['demo1', 'demo2']
            },
            methods: {
                handleSubmit: function() {
                    // console.log(this.inputValue);
                    if (this.inputValue.length) {
                        this.list.push(this.inputValue);
                    }
                    this.inputValue = '';
                }
            },
        });
    </script>
</body>
</html>