:root {
  --orange: rgb(251, 116, 3);
  --blue: rgb(36, 135, 201);
}

a {
  text-decoration: none;
}

body, header, nav, div, span, ul, li, h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

.vertical-line {
  border-right: 1px solid #000;
  margin: 0 5px;
  width: 0;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

html {
  position: relative;
  min-height: 100%;
  min-width: 1200px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,"Microsoft Yahei",微软雅黑;
  margin-bottom: 100px;
}

/* 头部 */
.header {
  background-color: #efefef;
  border-bottom: 2px solid var(--blue);
}

.header-content {
  width: 1200px;
  height: 108px;
  margin: 0 auto;
}

.header-content .logo {
  width: 370px;
  height: 110px;
  float: left;
  padding-left: 110px;
  background: url("../images/logo.png") left center no-repeat;
  line-height: 110px;
  font-size: 24px;
  color: #2e2929;
  cursor: pointer;
}

.header-content .logo .light {
  color: #808388;
  font-size: 16px;
}

.header-content .nav {
  float: right;
  font-weight: 300;
  font-size: 16px;
  line-height: 110px;
  color: #2e2929;
  position: relative;
}

.header-content .nav > a {
  color: #2e2929;
  line-height: 16px;
  display: inline-block;
  padding: 47px 5px;
}

.header-content .nav a.email,
.header-content .nav a.login {
  color: var(--orange);
  padding: 47px 5px;
}

.header-content .nav a.login {
  padding-right: 0;
}

.header-content .nav .dropdown:after {
  content: '';
  display: inline-block;
  border-top: 8px solid #000;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-left: 5px;
}

.header-content .nav .mobile {
  padding-left: 16px;
  background: url("../images/mobile.png") left center no-repeat;
  background-size: auto 16px;
  margin: 0px 30px;
}

.header-content .nav .dropdown-content {
  position: absolute;
  border: 2px solid var(--orange);
  top: 72px;
  left: 325px;
  font-size: 13px;
  line-height: 24px;
  padding: 8px 5px 0px;
  display: none;
  background-color: #fff;
  z-index: 3;
}

.header-content .nav .dropdown-content .dropdown-item {
  padding: 2px 10px;
}

.header-content .nav .dropdown-content .dropdown-item a {
  color: #666;
}

.header-content .nav .dropdown-content .dropdown-item:nth-child(2),
.header-content .nav .dropdown-content .dropdown-item:nth-child(3),
.header-content .nav .dropdown-content .dropdown-item:nth-child(5),
.header-content .nav .dropdown-content .dropdown-item:nth-child(6),
.header-content .nav .dropdown-content .dropdown-item:nth-child(8),
.header-content .nav .dropdown-content .dropdown-item:nth-child(9) {
  border-bottom: 1px dotted #999;
}

.header-content .nav  a:hover,
.header-content .nav .dropdown-content .dropdown-item:hover a {
  color: var(--orange);
}

/* 主体部分 */

.main {
  width: 100%;
}

.main .main-content {
  width: 1200px;
  margin: 0 auto;
  font-weight: 300;
  color: #2e2929;
  font-size: 16px;
}

.main-content .position {
  padding: 10px;
}

.main-content .position span,
.main-content .position a {
  color: #808388;
}
.main-content .signup-form {
  height: 600px;
  border-radius: 10px;
  border: 1px solid var(--orange);
  position: relative;
  margin: 0 10px 200px;
}

.main-content .signup-form .title {
  background-color: var(--orange);
  font-size: 16px;
  color: #fff;
  padding: 10px;
  border-radius: inherit;
}

.main-content .signup-form .input-group {
  margin-left: 260px;
  padding: 10px 0;
  font-size: 14px;
  position: relative;
}

.main-content .signup-form .input-group:nth-child(2) {
  padding-top: 50px;
}

/* 添加星号 */
.main-content .signup-form .input-group:before {
  content: '*';
  color: var(--orange);
  position: absolute;
  left: -14px;
}

/* 去掉邮箱前面的星号‘*’ */
.main-content .signup-form .input-group:nth-child(8):before {
  content: '';
}

.main-content .signup-form .input-group label {
  width: 70px;
  text-align: justify;
  float: left;
}

.main-content .signup-form .input-group label:after {
  content: '';
  width: 100%;
  display: inline-block;
}

.main-content .signup-form .input-group input,
.main-content .signup-form .input-group select {
  width: 220px;
  box-sizing: border-box;
}

.main-content .signup-form .input-group .tips {
  color: var(--orange);
  margin-left: 10px;
  height: 21px;
}

.main-content .signup-form .input-group .tips .color {
  display: inline-block;
  width: 40px;
  height: 6px;
  background-color: #dcdcdc;
  margin-bottom: 3px;
}

.main-content .signup-form .input-group .tips .color:nth-child(1) {
  background-color: red;
}

.main-content .signup-form .input-group .tips span.name-rule {
  text-decoration: underline;
  cursor: pointer;
}

.main-content .signup-form .rules {
  font-size: 14px;
  padding: 10px 0;
  margin-left: 330px;
}

.main-content .signup-form .rules input[type="checkbox"] {
  margin-left: 18px;
}

.main-content .signup-form .rules a {
  color: #3b89e5;
}

.main-content .signup-form .btns input[type="button"] {
  width: 200px;
  background-color: var(--orange);
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  margin: 40px 0 0 380px;
  padding: 5px 0;
}

/* 姓名填写规则 */

.input-group:nth-child(5) .tips:hover + .name-rule-content {
  display: block;
}

.name-rule-content {
  width: 470px;
  height: 280px;
  position: absolute;
  top: 27px;
  left: 406px;
  background-color: #fff;
  font-size: 12px;
  line-height: 34px;
  border: 1px solid var(--blue);
  padding: 0 15px;
  color: #666;
  z-index: 4;
  display: none;
}

/* 底部 */
.footer {
  background-color: #dcdcdc;
  border-top: 2px solid var(--blue);
  text-align: center;
  font-size: 14px;
  color: #aaa;
  line-height: 30px;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: -20;
}

.footer .links a {
  color: #aaa;
}

.footer .vertical-line {
  border: 1px solid #aaa;
}
